* {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}
ul li {
    list-style-position: inside;
    list-style-type: none;
}
.nav-bar li {
    display: inline;
    padding: 10px;
    
}
.nav-bar li a {
    text-decoration: none;
}
.nav-bar li a:hover {
    color: black;
    border-bottom: solid red 4px;
}
ol li {
    list-style-position: inside;
}

.about-us{

    width: 100%;
    background-color: red;
    height: 50px;
}
.about-us .title {
    text-align: left;
    color: white;
    padding: 13px;
}
